@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --color-grey: #e5e7e9;
}

body {
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
  width: 90%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}
